# MS SQL. Acceso a datos con python

Este capítulo proporciona un ejemplo básico de acceso a datos almacenados en una base de datos utilizando python.

El paquete *pypyodbc* proporciona acceso a servidores MS SQL Server.

In [1]:
import pypyodbc
import pandas as pd

Se definen los parámetros básicos de la conexión. Uno de los inconvenientes de este método es que hace públicos usuario y password de la bbdd. Esto no es siempre conveniente.

In [3]:
connection = pypyodbc.connect('Driver={SQL Server};'

                                'Server=den1.mssql1.gear.host;'

                                'Database=opendata;'

                                'uid=opendata;pwd=Ox4gL32-?iQD')

In [3]:
cursor = connection.cursor() 
SQLCommand = ("SELECT ALL [Fecha],[Temperatura],[Viento],[Estacion]  FROM [OPENDATA].[dbo].[datos] ")

cursor.execute(SQLCommand)
results = cursor.fetchone()

In [4]:
for d in cursor.description:
    print (d[0])

fecha
temperatura
viento
estacion

In [5]:
datos = cursor.fetchall()
for row in cursor.fetchall():
    for field in row:
        print( field)
    print(" ")

In [6]:
print( datos)

[(datetime.datetime(2017, 2, 2, 0, 0), 12.0, 3.0, u'WS1       '), (datetime.datetime(2017, 2, 3, 0, 0), 15.0, 4.0, u'WS2       '), (datetime.datetime(2017, 2, 4, 0, 0), 16.0, 5.0, u'WS2       '), (datetime.datetime(2017, 2, 5, 0, 0), 18.0, 4.0, u'WS2       ')]

In [7]:
type( datos)

list

In [8]:
print( datos[0][1])

12.0

In [9]:
df=pd.DataFrame(datos)
print(df)

           0     1    2           3
0 2017-02-02  12.0  3.0  WS1
1 2017-02-03  15.0  4.0  WS2
2 2017-02-04  16.0  5.0  WS2
3 2017-02-05  18.0  4.0  WS2

In [10]:
print(df[1])

0    12.0
1    15.0
2    16.0
3    18.0
Name: 1, dtype: float64

In [11]:
df.describe()

           1         2
count   4.00  4.000000
mean   15.25  4.000000
std     2.50  0.816497
min    12.00  3.000000
25%    14.25  3.750000
50%    15.50  4.000000
75%    16.50  4.250000
max    18.00  5.000000

In [12]:
cursor.close()
connection.close()